html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("http://cameronquinlan.com/images/church.JPG");
  background-image:
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  font-family: 'Bad Script', cursive;
  font-weight: normal;
  margin: 0px;
}
h1 {
  font-size: 75px;
}
header h1 {
  font-size: 100px;
}
header h2 {
  font-size: 32px;
}
header h6 {
    text-align: center;
}
header strong {
  color: #9D6381;
}

header,
section,
footer {
  padding: 100px 150px;
}

header {
  background-color: #CECCCC;
}
.interests {
  background-color: #9D6381;
  overflow: hidden;
  padding: 100px, 100px;
}
.interests, footer {
    text-align: center;
}
.profile-img {
  float: right;
  margin-left: 20px;
}
.about {
  overflow: hidden;
  background-color: rgba(110, 90, 120, .95);
}
footer {
  background-color: rgba(0, 0, 0, .85);;
  color: #CECCCC;
}
img {
  border-radius: 50%;
}
a {
  color: #9D6381;
  font-size: 18px;
  line-height: 1.5;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 134px;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.interests ul {
    text-align: center;
    max-width: 610px;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
}
.interestsDiv {
    text-align: center;
}
nav li, .interests li {
    float: left;
}
nav a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.interests a {
    padding: 50px;
}
.hasLink img {
    background-color: black;
}
.hasLink img:hover {
    opacity: .5;
}
nav a:hover {
    background-color: #111;
}
div .wrap {
    float: left;
   position: relative;
   left: 50%;
}
div .navContent {
    float: left;
    position: relative;
    left: -50%;
}
