/* Handles the boring stuff */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url(../travel/images/Genoa.JPG);
  background-image:
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}
img {
    max-width: 100%;
    border-radius: 10%;
    float: right;
}
header img {
    border-radius: 0;
    float: left;
}
a {
    color: #000000;
}
a:hover {
    color: #0000a0;
}

/* Handles the header sytle */
h1, h2 {
    font-family: 'Caveat Brush';
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    margin: 0px;
}
h1 {
    font-size: 75px;
}
header h1 {
    font-size: 100px;
}
header h2 {
    font-size: 32px;
}
header h6 {
    text-align: center;
}
header strong {
    color: #9D6381;
}

header, section {
    padding: 100px 150px;
}

header {
    background-color: #CECCCC;
}

/* Handles the background colours of the sections */
.London, .Milan, .Belgrade, .Munich, .Krakow, .Malmo, .Luxembourg_City {
    overflow: hidden;
    background-color: rgba(75, 95, 120, 0.85);
    /*background-color: rgba(157,99,129,0.85);*/
}
.Paris, .Zurich, .Zagreb, .Prague, .Gorzow, .Hamburg, .Vimy_Ridge {
    overflow: hidden;
    background-color: rgba(157,99,129, 1);
    /*background-color: rgba(75, 95, 120, 1);*/
}
.Nice, .Vienna, .Ljubljana, .Ostrava, .Berlin, .Amsterdam, .Lille {
    overflow: hidden;
    background-color: rgba(110, 90, 120, 0.85);
    /*background-color: rgba(100, 90, 140, .85);*/
}
.Genoa, .Budapest, .Lake_Bled, .Kosice, .Copenhagen, .Brussels {
    overflow: hidden;
    background-color: rgba(100, 90, 140, 1);
    /*background-color: rgba(110, 90, 120, 1);*/
}
